#carousel {
  padding-top: 10%;
  padding-bottom: auto;
}

.project-container {
  width: 75%;
  height: 75%;
  margin: auto;
  position: relative;
}

.item {
  /* border: 5px solid pink; */
  border-radius: 5px;
  background: rgb(0, 0, 0);
  /* border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%; */
  padding: 1%;
  padding-top: 2%;
  text-align: center;
}
.project-name {
  font-size: 1.8rem;
}
.viewInfo {
  font-size: 1.4rem !important;
}
.item .movie-Poster img {
  margin-left: 0.75%;
  margin-right: 1%;
  /* margin-top: 0.5%; */
  margin-bottom: 0;
  width: 99%;
}
.item .slide-info {
  padding: 10px;

  border-radius: 0 0 5px 5px;
  background-color: rgb(19, 19, 20);
  color: rgb(229, 226, 226);
  margin-left: 0.75%;
  margin-right: 1%;
  margin-bottom: 0.5%;
  width: 99%;
}
.item:hover .slide-info {
  background-color: #101f2d !important;
}
.viewInfo {
  /* background-color: rgb(207, 76, 0); */
  border: 1px solid rgb(68, 68, 68) !important;
  background-color: rgb(34, 31, 48);
  color: rgb(226, 226, 226);
}
.viewInfo:hover {
  /* background-color: rgb(255, 94, 0); */
  /* border: 1px solid rgb(255, 94, 0) !important; */
  border: 1px solid rgb(61, 255, 197) !important;
}

/* .controls {
  margin-top: 20px;
} */

.carousel-inner {
  margin-left: auto;
  margin-right: auto;
}
.carousel-control-next,
.carousel-control-prev {
  height: 30%;
  position: absolute !important;
}
.carousel-control-next-icon {
  margin-left: 20%;
}
.carousel-control-prev-icon {
  margin-right: 40%;
}

/* atbr
*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner
    .active.col-md-4.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .carousel-inner
    .active.col-sm-6.carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .carousel-item {
    margin-right: 0;
  }

  .carousel-inner .active + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    visibility: visible;
  }

  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    transform: translate3d(100%, 0, 0);
  }
}
/* MD */
@media (min-width: 768px) {
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next {
    transform: translate3d(0, 0, 0);
  }

  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transform: translate3d(-100%, 0, 0);
  }

  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transform: translate3d(100%, 0, 0);
  }
}

@media (min-width: 991px) {
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner
    .active.col-lg-3.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    display: block;
  }

  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transform: translate3d(100%, 0, 0);
  }
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.575);
  z-index: 7;
}
.overlay-container {
  position: absolute;
  background-color: rgb(24, 24, 24);
  width: 60%;
  height: 90%;
  margin: auto;
  left: 20%;
  top: 5%;
  border-radius: 5%;
}
.overlay-info {
  display: flex;
  margin-top: 2%;
  height: 85%;
}
.overlay-left {
  width: 40%;
  margin-left: 5%;
  color: white;
}
.overlay-right {
  width: 100%;
  /* margin-right: 5%; */
  margin-left: 5%;
  color: white;
}
.conduct-msg {
  text-align: center;
  margin-top: 1%;
  vertical-align: bottom;
  color: red;
}

.overlay-slideshow {
  width: 80%;
  margin-right: 10%;
  margin-top: 1%;
  text-align: center;
}
/* Hide the images by default */
.overlay-slide {
  display: none;
  width: 90%;
  /* margin-left: 5%; */
  margin-right: 5%;
}

/* Next & previous buttons */
.overlay-prev,
.overlay-next {
  cursor: pointer;
  position: relative;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.overlay-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.fa-angle-left,
.fa-angle-right {
  color: gray;
}

/* On hover, add a black background color with a little bit see-through */
.overlay-prev:hover .fa-angle-left,
.overlay-next:hover .fa-angle-right {
  color: rgb(255, 94, 0);
  cursor: pointer;
}

.github-link,
.demo-link {
  text-align: center;
  width: 40%;
  height: 7%;
  border-radius: 1em;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
}
.github-link a,
.github-link a:hover,
.demo-link a,
.demo-link a:hover {
  color: white;
  text-decoration: none;
}
.github-link:hover,
.demo-link:hover {
  background-color: rgba(255, 94, 0, 0.562);
  border: 1px solid rgb(255, 94, 0);
}
.project-description > h1,
.tech-used > h1,
.learning-outcomes > h1 {
  color: rgb(255, 94, 0);
}
.project-description p {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.4rem;
}

.overlay-right p {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.4rem;
}

.tech-used-list > li {
  display: inline-block;
  font-size: 1.4rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.learning-outcome-list > li {
  font-size: 1.4rem;
  margin-left: 5%;
  margin-right: 10%;
}
.exit-btn {
  background-color: red;
  color: black;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20%;
  font-size: 1.5rem;
  float: right;
  margin-right: 5%;
  margin-top: 2%;
  text-align: center;
}
.exit-btn:hover {
  background-color: rgb(255, 77, 77);
  cursor: pointer;
}
@media screen and (max-width: 720px) {
}

@media screen and (max-width: 400px) {
  .overlay-container {
    position: absolute;
    background-color: rgb(24, 24, 24);
    width: 90%;
    height: 90%;
    margin: auto;
    left: 5%;
    top: 5%;
    border-radius: 5%;
  }
  .overlay-slide-img {
    width: 125px;
  }
  .learning-outcomes {
    display: none;
  }
  .tech-used {
    display: none;
  }
  .project-description > p {
    font-size: 1rem;
    margin-right: 2%;
    width: 100%;
  }
  .overlay-right {
    /* width: 50%; */
    margin-left: 3%;
  }
  .project-description > h1 {
    font-size: 2rem;
  }
  .project-description {
    margin-left: 5%;
  }
  .overlay-prev,
  .overlay-next {
    padding: 10px;
  }
  .overlay-left {
    width: 50%;
  }
  .github-link {
    padding-top: 10%;
  }
}
