.contact-container {
  display: flex;
  margin-left: 10%;
  /* margin-right: 10%; */
  width: 80%;
  margin-top: 1%;
  color: rgb(235, 235, 235);
}
.contactInfo-area {
  width: 25%;
}
.contactInfo-area > ul {
  font-size: 1.5rem;
  list-style: none;
  padding-left: 0;
}
.media-area {
  width: 15%;
}
.media-area > h1 {
  text-align: center;
}
.chat-area {
  width: 60%;
  margin-left: 5%;
}
.chat-area > h1 {
  text-align: center;
}
.contact-text-alt {
  /* color: rgb(255, 94, 0); */
  color: cyan;
}
.mail-form {
  display: flex;
}
.mail-left {
  margin: 1%;
  width: 30%;
  font-size: 1.2rem;
}
.mail-left input[type="text"] {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1.3rem;
  width: 100%;
  background-color: rgb(235, 235, 235);
  outline: none;
}
.mail-right {
  margin: 1%;
  font-size: 1.2rem;
}
.mail-right > textarea {
  padding: 2%;
  width: 100%;
  height: 80%;
  outline: none;
  resize: none;
  background-color: rgb(235, 235, 235);
  font-size: 1.3rem;
}

input[type="text"],
textarea {
  transition: all 0.3s ease-in-out;
  outline: none;
  /* padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px; */
  border: 1px solid #dddddd;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px cyan;
  /* padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px; */
  border: 1px solid rgba(0, 255, 255, 0.274);
}

.social-list {
  font-size: 2.2rem;
  text-align: center;
  list-style-type: none;
  list-style: none;
  padding-left: 0;
}

#instagramIcon {
  color: rgb(255, 31, 31);
}
#instagramIcon:hover {
  color: rgb(241, 75, 75);
}

#linkedinIcon {
  color: rgb(64, 64, 255);
}
#linkedinIcon:hover {
  color: rgb(107, 107, 255);
}

#codepenIcon {
  color: rgb(201, 198, 198);
}
#codepenIcon:hover {
  color: rgb(255, 255, 255);
}

#githubIcon {
  color: rgb(192, 0, 192);
}
#githubIcon:hover {
  color: rgb(230, 23, 230);
}

#dribbbleIcon {
  color: rgb(204, 13, 77);
}
#dribbbleIcon:hover {
  color: rgb(235, 57, 116);
}

.chat-submit-btn {
  width: 50%;
  background-color: rgba(61, 255, 197, 0);
  color: rgb(235, 235, 235);
  margin-top: 2%;
  font-size: 1.6rem;
  border-color: cyan;
  border-width: 1px;
  border-radius: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  float: right;
}
.chat-submit-btn:hover {
  background-color: rgba(0, 255, 255, 0.473);
}

@media screen and (max-width: 719px) {
  .chat-area {
    display: none;
  }
  .media-area {
    float: right;
    margin-right: 13%;
    margin-left: auto;
  }
  .contactInfo-area {
    width: 55%;
  }
  .contact-container {
    margin-left: 5%;
  }
}
