.navbar-main{
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border: 1px solid #222;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    flex-direction: row;
    background-color: #111;
    justify-content: center;
    position: fixed;
}

.navbar-main a {
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 2em;
    color: whitesmoke;
    text-decoration: none;
}
.navbar-main a:hover {
    background-color: #19488f;
    border-radius: 8%;
}
.nav-home, .nav-about, .nav-projects, .nav-contact,
.nav-home:visited, .nav-about:visited .nav-projects:visited, .nav-contact:visited{
    text-decoration: none;
    text-decoration-color: none;
}